{% extends 'common/base.html' %}
{% load custom_filters %}

{% block content %}
    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Login Form -->
            <form action="{% url "login" %}?next={{ next|default:'' }}" method="post">
                {% csrf_token %}
                <!-- Display non-field errors -->
                {% if form.non_field_errors %}
                    <ul class="error-list">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p>
                    {{ form.username|placeholder:"Email" }}
                    {% if form.username.errors %}
                        <span class="error">{{ form.username.errors|join:", " }}</span>
                    {% endif %}
                </p>
                <p>
                    {{ form.password|placeholder:"Password" }}
                    {% if form.password.errors %}
                        <span class="error">{{ form.password.errors|join:", " }}</span>
                    {% endif %}
                </p>
                <!-- Login Button -->
                <button type="submit">Log in</button>
            </form>

            <!-- End Login Form -->

        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Don't have an account? <a href="{% url "register" %}">Register</a></p>
        </div>
    </div>
    <!-- End Login Section-->
{% endblock %}